@charset "utf-8";
/* CSS Document */


body{
	background-color: lightgray;
}

.info {
	float: right;
	padding: 1em;
	margin-right: 1em;
	margin-top:2em;
	margin-bottom: 1em;
	width: 50%;
}

h1{
	font-family: 'Open Sans', sans-serif;
}

.card{
	float: left;
	border-style: dashed;
	border-color: darkslategray;
	border-width: 2px;
	margin: 10px;
	width: 30%;
	margin-right: 10px;
}

footer {
	background-color: lightgray;
	color: black;
	position: fixed;
	left:0;
	bottom:0;
	text-align: center;
	right:0;
	height: 120px;
	height: 50px;
}




img{
	width: 20%;
	float: left;
	margin: 10px;
	
	border-color: rebeccapurple;
	border-style: dashed;
	border-width: 2px;
	
}

.navbar.navbar-expand-lg .navbar-light .bg-light{
	background-color: black;
	color: antiquewhite;
	font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, 'serif'
}

.center{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 40%;
}

footer {
	background-color: lightgray;
	color: black;
	position: fixed;
	left:0;
	bottom:0;
	text-align: center;
	right:0;
	height: 120px;
	height: 50px;
}

#navbar {
	background-color: black;
	color: floralwhite;
	float: left;
}

.wrapper{
	min-height: 100%;
}

